<form action="" class="grid mt-4 form-register-test-ability">
  <div class="col-12 field">
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-users" style="color: #708090"></i>
      <input class="p-inputtext p-component" id="name" type="text" />
      <label for="name">Họ và tên</label>
    </span>
  </div>
  <div class="col-12 field">
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-envelope" style="color: #708090"></i>
      <input class="p-inputtext p-component" id="email" type="text" />
      <label for="name">Email</label>
    </span>
  </div>
  <div class="col-12 field">
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-phone" style="color: #708090"></i>
      <input class="p-inputtext p-component" id="name" type="text" />
      <label for="name">Điện thoại</label>
    </span>
  </div>
  <div class="col-12 field">
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-bookmark" style="color: #708090"></i>
      <input class="p-inputtext p-component" id="name" type="text" />
      <label for="name">Lớp</label>
    </span>
  </div>
  <div class="col-12 text-right">
    <p-button label="Tiếp tục" />
  </div>
</form>
