<!-- <div class="page">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="container-fluid-main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<div id="responsive-overlay" (click)="clearToggle()"></div> -->

<!-- <div class="app-body">
  <div class="header-wrapper">
    <app-header></app-header>
  </div>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div> -->


<div id="root">
  <div class="user-layout admin">
    <app-header></app-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>