<!-- <div class="page">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="container-fluid-main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<div id="responsive-overlay" (click)="clearToggle()"></div> -->

<div class="app-body">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <app-menu></app-menu>
    <!-- <app-slide></app-slide> -->
    <router-outlet>
      
    </router-outlet>
  </div>
  <app-footer></app-footer>
</div>
