<div class="khoa-hoc customer-table common-content">
    <p-table [value]="test" dataKey="id" [scrollable]="true" scrollHeight="600px"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="caption">
            <div class="grid align-items-end">
                <div class="col-12 md:col-4">
                    <p-breadcrumb class="max-w-full" [model]="breadcrum" [home]="home" />
                    <div class="header-title hidden-mobile">Bài học</div>
                </div>
                <div class="col-12 md:col-8 text-right flex justify-content-end align-items-end">
                    <div class="mr-2 text-left search">
                        <label for="search">Tìm kiếm: </label>
                        <p-inputGroup [style.height.px]="32">
                            <input type="text" pInputText placeholder="Nhập nội dung tìm kiếm" severity="secondary"
                                [(ngModel)]="query.filter" (ngModelChange)="onSearchChange($event)" />
                            <button type="button" pButton icon="pi pi-search" [outlined]="true" severity="secondary"
                                (click)="search()"></button>
                        </p-inputGroup>
                    </div>
                    <!-- <p-button class="mr-2" label="Bộ lọc" icon="pi pi-sliders-h" menu.toggle($event)/> -->
                    <p-button class="mr-2" label="Bộ lọc" (onClick)="op.toggle($event)" icon="pi pi-sliders-h" />
                    <p-button label="Thêm mới" icon="pi pi-plus" (click)="addNew()" />
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr style="font-size: 14px;">
                <th pSortableColumn="code" style="min-width: 53px; left: 0px">
                    <p-checkbox [binary]="true" inputId="binary" />
                </th>
                <th pSortableColumn="code" style="min-width: 60px; left: 53px;"></th>
                <th pSortableColumn="code" style="min-width: 300px;">
                    Tên bài <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 150px; left: 350px;">
                    Hạn nộp <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 150px;">
                    Loại bài <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 150px;">
                    Miễn phí <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 150px;">
                    Gửi mail <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 150px;">
                    Trạng thái <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 150px;">
                    KT năng lực <p-sortIcon field="code" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-test>
            <tr style="font-size: 14px;">
                <td><p-checkbox [binary]="true" inputId="binary" /></td>
                <td><p-button icon="pi pi-ellipsis-v" [text]="true" severity="secondary"
                        (onClick)="setSelected(test); menu.toggle($event)" /></td>
                <td class="text-blue-700 pointer">
                    <a [routerLink]="['/quan-tri/bai-kiem-tra', test?.id]" style="text-decoration: none;">
                        {{ test?.name }}
                    </a>
                </td>
                <td>{{ test?.deadlineDate }}</td>
                <td>{{ test?.testCategoryName }}</td>
                <td>
                    <p-button [label]="getFree(test?.isFree)" [raised]="true" [severity]="getStatusFree(test?.isFree)"
                        [rounded]="true" />
                </td>
                <td>
                    <p-button [label]="getEmail(test?.isAutoSendMail)" [raised]="true"
                        [severity]="getStatus(test?.isAutoSendMail)" [rounded]="true" />
                </td>
                <td>
                    <p-button [label]="getStatusLabel(test?.status)" [raised]="true"
                        [severity]="getStatus(test?.status)" [rounded]="true" />
                </td>
                <td>
                    <p-button [label]="getStatusLabel(test?.isShowInAbilityTest)" [raised]="true"
                        [severity]="getStatus(test?.isShowInAbilityTest)" [rounded]="true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="flex align-items-center justify-content-start" style="
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  gap: 10px;
                ">
        <p-paginator [rows]="query.size" [totalRecords]="totalItems" [first]="(query.page - 1) * query.size"
            (onPageChange)="onPageChange($event)"></p-paginator>

        <div class="flex justify-content-center align-items-center gap-3">
            <span>Từ 1 đến 10</span>
        </div>
    </div>
</div>


<!-- Popup view to edit/deleted -->
<div class="card flex justify-content-center">
    <p-menu #menu [model]="items" [popup]="true" />
</div>


<!-- Dialog delete -->
<p-dialog header="Xác nhận" [modal]="true" [(visible)]="dialogDelete" [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
        <span style="font-weight: 100; font-size: 1.5rem">Bạn có chắc chắn muốn xóa không ?</span>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Từ chối" severity="secondary" (click)="dialogDelete = false" />
        <p-button label="Đồng ý" (click)="handleDelete()" />
    </div>
</p-dialog>

<p-overlayPanel #op>
    <div class="flex flex-column gap-3 w-25rem">
        <div>
            <span class="font-medium text-900 block mb-2">Tìm kiếm nâng cao</span>
        </div>
        <div>
            <ul class="list-none p-0 m-0 flex flex-column gap-3">
                <li class="align-items-center ">
                    <p-dropdown [options]="testCategory" [(ngModel)]="selectedTestCategory" (ngModelChange)="search()"
                        optionLabel="name" optionValue="id" [filter]="true" filterBy="name" [showClear]="true"
                        [style]="{'width':'100%'}" placeholder="Loại bài">
                    </p-dropdown>
                </li>

                <li class="align-items-center mt-2">
                    <p-dropdown [options]="classRoom" [(ngModel)]="selectedClassroom" (ngModelChange)="search()"
                        optionLabel="name" optionValue="id" [filter]="true" filterBy="name" [showClear]="true"
                        [style]="{'width':'100%'}" placeholder="Lớp học">
                    </p-dropdown>
                </li>

                <li class="align-items-center mt-2">
                    <p-dropdown [options]="subject" [(ngModel)]="selectedSubject" (ngModelChange)="search()"
                        optionLabel="name" optionValue="id" [filter]="true" filterBy="name" [showClear]="true"
                        [style]="{'width':'100%'}" placeholder="Môn học">
                    </p-dropdown>
                </li>

                <li class="align-items-center mt-2">
                <li class="align-items-center ">
                    <label>Hiển thị kiểm tra năng lực</label>
                    <p-dropdown [options]="statusList" [(ngModel)]="selectedStatus" optionLabel="name" [filter]="true"
                        filterBy="name" [showClear]="true" placeholder="Tất cả" (ngModelChange)="search()"
                        [style]="{'width':'100%'}"></p-dropdown>
                </li>
            </ul>
        </div>

        <div class="text-right" style="margin-top: 30px;">
            <p-button class="mr-2" label="Xuất excel" icon="pi pi-file-excel" severity="success" />
            <p-button class="mr-2" label="Làm mới" icon="pi pi-sync" severity="secondary" (onClick)="resetFilters()" />
            <p-button label="Tìm kiếm" icon="pi pi-search" (onClick)="search()" />
        </div>
    </div>
</p-overlayPanel>