<div class="chuong-trinh-chi-tiet common-content">
    <div class="detail-breadcumb mb-2">
        <p-breadcrumb class="max-w-full" [model]="breadcrumb" [home]="home" />
        <div class="header-title">Chi tiết câu hỏi</div>
    </div>
    <!-- CHI TIẾT -->
    <div class="question-item" *ngIf="!isEdit">
        <div class="grid">
            <div class="col-12 flex justify-content-between align-items-center question-header">
                <div class="flex align-items-center">
                    Câu hỏi 1:
                    <small class="test_question--name">
                        ({{ questionNew.name }})
                    </small>
                </div>
                <div class="">{{ questionNew.point }} điểm</div>
            </div>
            <div class="col-12">
                <div>
                    <div class="name" [innerHTML]="questionNew.content">
                    </div>
                </div>
            </div>
            <div class="col-12 flex justify-content-end">
                <p-button label="Sửa" [text]="true" (onClick)="onEdit()" />
            </div>
        </div>
    </div>
    <!-- UPDATE && ADD -->
    <div class="question-item" *ngIf="isEdit">
        <form [formGroup]="questionForm">
            <div class="grid">
                <div class="col-12 flex justify-content-between align-items-center mb-3 question-header">
                    <div class="flex align-items-center">Câu hỏi 1: </div>
                    <div>
                        <input class="input-field" formControlName="point"
                            [style]="{ width: '120px', textAlign: 'center'}" />
                        điểm
                    </div>
                </div>
                <div class="col-12">
                    <div class="field">
                        <p-floatLabel>
                            <input class="input-field" formControlName="name" placeholder="Nhập tên câu hỏi"
                                [style]="{ width: '100%' }" />
                            <label for="name">Tên câu hỏi: </label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <div class="field">
                        <p-floatLabel>
                            <p-dropdown [options]="testQuestionType" formControlName="testQuestionTypeCode"
                                optionLabel="name" optionValue="code" [filter]="true" filterBy="name" [showClear]="true"
                                [style]="{ width: '100%' }">
                            </p-dropdown>
                            <label for="name">Loại câu hỏi: </label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <div class="field">
                        <p-floatLabel>
                            <p-dropdown [options]="testQuestionGroup" formControlName="testQuestionGroupId"
                                optionLabel="name" optionValue="id" [filter]="true" filterBy="name" [showClear]="true"
                                [style]="{ width: '100%' }">
                            </p-dropdown>
                            <label for="name">Nhóm câu hỏi: </label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <div class="field">
                        <p-floatLabel>
                            <p-dropdown [options]="levelQuestion" formControlName="level" optionLabel="name"
                                optionValue="code" [filter]="true" filterBy="name" [showClear]="true"
                                placeholder="Select Username" [style]="{ width: '100%' }">
                            </p-dropdown>
                            <label for="name">Độ khó: </label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <div class="field">
                        <p-floatLabel>
                            <input formControlName="order" pInputText class="input-field" [style]="{ width: '100%' }" />
                            <label for="name">Thứ tự: </label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="col-12 md:col-9">
                    <div class="field">
                        <p-floatLabel>
                            <input formControlName="lessonLink" pInputText class="input-field"
                                [style]="{ width: '100%' }" />
                            <label for="name">Đường dẫn bài học: </label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <div class="field">
                        <p-floatLabel>
                            <p-inputSwitch formControlName="publicStatus"></p-inputSwitch>
                            <label for="content" class="font-size-14 ml-2">Hiển thị dọc</label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="col-12">
                    <div class="field">
                        <p-floatLabel>
                            <p-multiSelect [options]="teacher" formControlName="teacherIds" optionValue="id"
                                optionLabel="name" placeholder="Chọn lớp học" [maxSelectedLabels]="30"
                                [style]="{ width: '100%' }"></p-multiSelect>
                            <label for="classRooms">Giáo viên hợp tác <span class="text-red-500">*</span></label>
                        </p-floatLabel>
                    </div>
                </div>

                <div class="col-12 font-size-13">
                    <!-- Điều kiện của loại câu hỏi -->
                    <div *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'dung_sai'">Nhập văn bản câu hỏi của
                        bạn, sau đó chọn nếu đúng hoặc sai là câu trả lời đúng.</div>

                    <div *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'nhieu_lua_chon'">Nhập câu hỏi của
                        bạn và nhiều câu trả lời, sau đó chọn những câu trả lời đúng có thể.</div>

                    <div *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'mot_lua_chon'">Nhập câu hỏi của bạn
                        và nhiều câu trả lời, sau đó chọn 1 câu trả lời đúng có thể. Nếu đánh dấu
                        nhiều đáp ứng đúng thì đáp án đúng đầu tiên sẽ được sử dụng.</div>

                    <div *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'dien_vao_cho_trong'">Nhập nội dung
                        câu hỏi của bạn, sau đó xác định tất cả các câu trả lời đúng có thể có cho chỗ
                        trống. Học sinh sẽ thấy câu hỏi theo sau là một văn bản nhỏ để nhập câu trả lời của họ. Chỉ định
                        ô trống sẽ điền theo cú pháp [số].
                        Nếu không điền thì ô input không xuất hiện. Ví dụ 14 + 7 = [21]
                    </div>

                    <div
                        *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'dien_vao_nhieu_khoang_trong' || questionForm.get('testQuestionTypeCode')?.value === 'nhieu_trinh_tha_don_xuong'">
                        Nhập
                        câu hỏi của bạn, chỉ định nơi mỗi chỗ trống sẽ đi. Sau đó, xác định câu trả lời đúng có
                        thể cho mỗi ô trống. Học sinh phải nhập câu trả lời đúng vào hộp văn bản ở mỗi ô trống. Trong
                        hộp bên dưới, mỗi
                        nơi bạn muốn hiển thị hộp trả lời, nhập từ tham chiếu (không có dấu cách) được bao quanh bởi dấu
                        ngoặc (ví dụ "Roes are [1], violets are [2]. Chú ý chỉ điền số trong dấu ngoặc vuông")
                    </div>

                    <div *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'phu_hop'">Xây dựng các cặp giá trị
                        khớp. Học sinh sẽ thấy các giá trị ở bê trái và phải chọn giá trị khớp ở bên phải từ danh sách
                        thả xuống. Nhiều hàng có thể có cùng một câu trả lời và bạn có tjeer thêm các bộ phân tâm bổ
                        sung vào bên phải</div>

                    <div *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'tieu_luan'">Học sinh sẽ được cung
                        cấp một trường văn bản để soạn câu trả lời của họ.</div>
                </div>

                <div class="col-12">
                    <div class="field">
                        <label for="" class="font-size-14">Hướng dẫn bài kiểm tra:</label>
                        <p-editor [style]="{ height: '400px' }" formControlName="content" />
                    </div>
                </div>

                <!-- Phù hợp -->
                <div class="col-12" *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'phu_hop'">
                    <div class="grid">
                        <div class="col-12 answer-list grid">
                            <div class="answer-item col-12">
                                <div class="answer-item--content">
                                    <div class="title flex justify-content-end">
                                        <div>
                                            <p-button icon="pi pi-comments" [rounded]="true" [text]="true"
                                                severity="secondary" />
                                            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true"
                                                severity="secondary" />
                                            <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                                                severity="danger" />
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="col-6">
                                            <div>
                                                <div class="matching_answer">
                                                    <div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <div class="matching_answer">
                                                    <div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 flex justify-content-end">
                            <p-button icon="pi pi-plus" class="mr-1" label="Thêm trả lời" [text]="true" [raised]="true"
                                severity="success" />
                        </div>
                    </div>
                </div>

                <!-- Đúng sai -->
                <div class="col-12" *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'dung_sai'">
                    <div class="grid">
                        <div class="col-12 answer-list grid">
                            <div class="answer-item--content">
                                <div class="title flex justify-content-between align-items-center">
                                    <label for class="answer-false">
                                        <span class="text-secondary">
                                            <i class="pi pi-th-large font-size-13 text-gray-600"></i>
                                            Câu trả lời có thể
                                        </span>
                                    </label>
                                    <label for class="answer-truth">
                                        <b class="text-blue-500 text-bolder">
                                            <i class="pi pi-check"></i>
                                            Câu trả lời đúng
                                        </b>
                                    </label>
                                    <div>
                                        <p-button icon="pi pi-comments" [rounded]="true" [text]="true" class="mr-2" />
                                        <p-button icon="pi pi-check" [rounded]="true" [text]="true" />
                                    </div>
                                </div>
                                <span>Sai</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nhiều lựa chọn, Một lựa chọn, Điền vào chỗ trống -->
                <div class="col-12" *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'nhieu_lua_chon' 
                            || questionForm.get('testQuestionTypeCode')?.value === 'mot_lua_chon'
                            || questionForm.get('testQuestionTypeCode')?.value === 'dien_vao_cho_trong'">
                    <div class="grid">
                        <div class="col-12 answer-list grid">
                            <div class="answer-item--content">
                                <div class="title flex justify-content-between align-items-center">
                                    <label for class="answer-false">
                                        <span class="text-secondary">
                                            <i class="pi pi-th-large font-size-13 text-gray-600"></i>
                                            Câu trả lời có thể
                                        </span>
                                    </label>
                                    <label for class="answer-truth">
                                        <b class="text-blue-500 text-bolder">
                                            <i class="pi pi-check"></i>
                                            Câu trả lời đúng
                                        </b>
                                    </label>
                                    <div>
                                        <p-button icon="pi pi-code" [rounded]="true" [text]="true" class="mr-1" />
                                        <p-button icon="pi pi-comments" [rounded]="true" [text]="true" class="mr-1" />
                                        <p-button icon="pi pi-check" [rounded]="true" [text]="true" class="mr-1" />
                                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" class="mr-1" />
                                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" />
                                    </div>
                                </div>
                                <input type="text" pInputText class="answer-value--input"
                                    placeholder="Điền nội dung câu trả lời" />
                            </div>
                        </div>
                        <div class="col-12 flex justify-content-end">
                            <p-button icon="pi pi-plus" class="mr-1" label="Thêm trả lời" [text]="true" [raised]="true"
                                severity="success" />
                        </div>
                    </div>
                </div>

                <!-- Điền vào nhiều khoảng trống, Nhiều trình đơn thả xuống -->
                <div class="col-12"
                    *ngIf="questionForm.get('testQuestionTypeCode')?.value === 'dien_vao_nhieu_khoang_trong' || questionForm.get('testQuestionTypeCode')?.value === 'nhieu_trinh_tha_don_xuong'">
                    <div class="grid">
                        <div class="col-12 answer-position">
                            <span [style]="{ fontWeight: 'bold' }">Hiển thị câu trả lời khả dụng cho: </span>
                            <p-dropdown [options]="levelQuestion" formControlName="level" optionLabel="name"
                                optionValue="code" [filter]="true" filterBy="name" [showClear]="true"
                                [style]="{ width: '200px', marginLeft: '30px' }">
                            </p-dropdown>
                        </div>
                        <div class="col-12 answer-list grid"></div>
                        <div class="col-12 flex justify-content-end">
                            <p-button icon="pi pi-plus" class="mr-1" label="Thêm trả lời" [text]="true" [raised]="true"
                                severity="success" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="grid mt-2">
        <div class="col-12 flex justify-content-end">
            <p-button icon="pi pi-trash" label="Hủy bỏ" severity="danger" class="mr-2" />
            <p-button icon="pi pi-save" label="Lưu lại" />
        </div>
    </div>
</div>