<div class="chuong-trinh-chi-tiet common-content">
    <div class="detail-breadcumb">
        <p-breadcrumb class="max-w-full" [model]="menuBreachCrumbs" [home]="home" />
        <div class="header-title">
            {{ isEditMode ? 'Chi tiết bài học' : 'Thêm bài học' }}
            <!-- {{ 'Test Category:' + testCategory }} -->
        </div>
    </div>
    <div class="tab-view">
        <p-tabView (onChange)="onTabChange($event)">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span>
                            <i class="pi pi-map-marker" style="font-size: 12px"></i>
                        </span>
                        <span class="font-bold white-space-nowrap m-0">Chi tiết</span>
                    </div>
                </ng-template>
                <app-information-test></app-information-test>
            </p-tabPanel>

            <p-tabPanel *ngIf="isEditMode && testCategory === 'kiem-tra'">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span>
                            <i class="pi pi-question" style="font-size: 12px"></i>
                        </span>
                        <span class="font-bold white-space-nowrap m-0">Câu hỏi</span>
                    </div>
                </ng-template>
                <app-information-question></app-information-question>
            </p-tabPanel>

            <p-tabPanel *ngIf="isEditMode && testCategory === 'kiem-tra'">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span>
                            <i class="pi pi-cog" style="font-size: 12px"></i>
                        </span>
                        <span class="font-bold white-space-nowrap m-0">Nhận xét</span>
                    </div>
                </ng-template>
                <app-information-account></app-information-account>
            </p-tabPanel>

            <p-tabPanel *ngIf="isEditMode && testCategory === 'kiem-tra'">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span>
                            <i class="pi pi-users" style="font-size: 12px"></i>
                        </span>
                        <span class="font-bold white-space-nowrap m-0">Tài khoản hiển thị</span>
                    </div>
                </ng-template>
                <app-information-account></app-information-account>
            </p-tabPanel>

            <p-tabPanel *ngIf="isEditMode">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span>
                            <i class="pi pi-info-circle" style="font-size: 12px"></i>
                        </span>
                        <span class="font-bold white-space-nowrap m-0">Bình luận</span>
                    </div>
                </ng-template>
                <app-information-comment></app-information-comment>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>