<div class="mon-hoc-chi-tiet common-content">
    <div class="detail-breadcumb">
        <div class="col-12 md:col-4">
            <p-breadcrumb class="max-w-full" [model]="breadcrum" [home]="home" />
            <div class="header-title hidden-mobile">Khóa học</div>
        </div>
    </div>

    <div>
        <div class="quan-tri-chi-tiet-mon-hoc common-content">
            <div class="grid mt-3">
                <div class="col-12 md:col-2">
                    <div class="grid mt-3">
                        <div class="col-12 avatar">
                            <img *ngIf="accountForm.get('avatar')?.value, else elseBlock" [src]="
                    accountForm.get('avatar')?.value || 'default-avatar.jpg'
                  " alt="" />
                            <ng-template #elseBlock>
                                <img src="https://hochieuqua7.web.app/images/admin/setting/slide/empty-image.png"
                                    alt="" />
                            </ng-template>
                            <label for="upload-image">
                                <i class="pi pi-upload"></i> Avatar
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-10">
                    <form class="p-fluid mt-3" [formGroup]="accountForm">
                        <div class="grid">
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-user" />
                                            <input pInputText class="input-field" formControlName="userName" />
                                        </p-iconField>
                                        <label for="name">Tài khoản đăng nhập <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500"
                                        *ngIf="accountForm.get('userName')?.hasError('required')">Tên tài khoản là bắt
                                        buộc.</small>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                            <input pInputText class="input-field" formControlName="password" />
                                        </p-iconField>
                                        <label for="name">Mật khẩu <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500"
                                        *ngIf="accountForm.get('password')?.hasError('required')">Mật khẩu là
                                        bắt
                                        buộc.</small>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-sort-alpha-down" />
                                            <input pInputText class="input-field" formControlName="name" />
                                        </p-iconField>
                                        <label for="name">Tên <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-at" />
                                            <input pInputText class="input-field" formControlName="email" />
                                        </p-iconField>
                                        <label for="name">Email <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500" *ngIf="accountForm.get('email')?.hasError('required')">Email là bắt
                                        buộc.</small>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-at" />
                                            <input pInputText class="input-field" formControlName="phone" />
                                        </p-iconField>
                                        <label for="name">Số điện thoại<span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500" *ngIf="accountForm.get('phone')?.hasError('required')">Phone là bắt buộc.</small>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-at" />
                                            <input pInputText class="input-field" formControlName="identityNo" />
                                        </p-iconField>
                                        <label for="name">CMND/CCCD<span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-at" />
                                            <input pInputText class="input-field" formControlName="className" />
                                        </p-iconField>
                                        <label for="name">Lớp <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-calendar placeholder="DD/MM/YYYY" appendTo="body" [monthNavigator]="true"
                                                formControlName="birthday" [yearNavigator]="true" inputId="navigators"
                                                [showTime]="false" dateFormat="dd/mm/yy" name="expireDate"></p-calendar>
                                        </p-iconField>
                                        <label for="name">Ngày sinh <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-dropdown [options]="role" optionLabel="label" formControlName="roleId"
                                            display="chip" [showClear]="true">
                                        </p-dropdown>
                                        <label for="roleId">Quyền menu <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-dropdown [options]="roleData" optionLabel="label"
                                            formControlName="roleTypeDataName" display="chip" [showClear]="true">
                                        </p-dropdown>
                                        <label for="roleTypeDataName">Quyền data <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-inputSwitch formControlName="status"></p-inputSwitch>
                                        <label for="content" class="manual-active">Hiển thị <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 fixed-action">
                                <p-button label="Hủy bỏ" [outlined]="true" icon="pi pi-times" (click)="goBack()" />
                                <p-button label="Lưu lại" icon="pi pi-save" (onClick)="updateAccount()" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>