.quan-li-thu-vien .image-list {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.quan-li-thu-vien .image-item {
    border-radius: 5px;
    box-shadow: 0 0 3px #b4b4b4;
    overflow: hidden;
    padding: 5px;
}

.quan-li-thu-vien .image-item img {
    box-shadow: none;
    max-height: 100px;
    object-fit: contain;
    width: 100%;
}

.quan-li-thu-vien .image-item--actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.quan-li-thu-vien .menu-folder {
    max-height: 90vh;
    overflow-y: scroll;
}

.quan-li-thu-vien {
    height: 98%;
}