<div class="quan-tri-thu-vien common-content">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" [home]="home" />
    <div class="header-title hidden-mobile mb-3">Quản lí thư viện</div>
    <div class="grid quan-li-thu-vien">
        <div class="col-12 md:col-3 menu-folder">
            <p-button label="Thư mục gốc" [outlined]="true" severity="contrast" class="mb-3" icon="pi pi-folder" />
            <p-tree [(selection)]="selectedFile" [value]="treeSource" [selectionMode]="'single'"
                (onNodeSelect)="onNodeSelect($event)">
            </p-tree>

        </div>
        <div class="col-12 md:col-9">
            <div class="image_actions text-right mb-3">
                <p-button label="Thêm file" [outlined]="true" severity="contrast" class="mr-2 mb-2" icon="pi pi-file" />
                <p-button label="Thêm thư mục" [outlined]="true" severity="contrast" class="mb-2" icon="pi pi-folder" />
            </div>
            <div class="image-list">
                <div *ngFor="let file of children" class="image-item">
                    <img [src]="'https://hhq.runasp.net/images/' + (file?.url || 'default-image.jpg')" alt="">

                    <div class="image-item--actions">
                        <div class="image-item--actions-left">
                            <i class="pi pi-images"></i>
                        </div>
                        <div class="image-item--action-right">
                            <p-button icon="pi pi-check" [rounded]="true" [text]="true"></p-button>
                            <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"></p-button>
                        </div>
                    </div>
                    <div class="image-item--info">
                        <div class="image-item--info-name">{{ file?.name }}</div>
                    </div>
                </div>
            </div>

            <div class="flex align-items-center justify-content-end mt-3" *ngIf="children.length !== 0">
                <p-paginator [rows]="itemsPerPage" [totalRecords]="totalRecords" [first]="first"
                    [styleClass]="'all_' + itemsPerPage" (onPageChange)="paginate($event)"
                    [rowsPerPageOptions]="[5, 10, 20, 50, 100, 500]"
                    currentPageReportTemplate="Showing {countRecord.currentRecordStart} to {last} of {totalRecords}">
                </p-paginator>
                <small class="ml-2">
                    {{ 'Từ' }} {{ countRecord.currentRecordStart }}
                    {{ 'đến' }} {{ countRecord.currentRecordEnd }}
                    {{ 'trên tổng số' }} {{ totalRecords }}
                    {{ 'kết quả' }}
                </small>
            </div>

        </div>
    </div>
</div>