<div class="login-form">
  <form
    [formGroup]="loginObj"
    (ngSubmit)="login()"
    class="login-form"
    *ngIf="!isLoading"
  >
    <p-card [style]="{ width: '400px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="/src/assets/login.png" class="login-image" />
      </ng-template>
      <span *ngIf="error">{{ error }}</span>

      <div class="field">
        <input
          type="text"
          pInputText
          formControlName="Username"
          class="input-field"
          placeholder="Nhập tài khoản"
        />
        <i class="pi pi-user input-icon"></i>
        <div
          *ngIf="
            loginObj.get('userName')?.touched &&
            loginObj.get('userName')?.invalid
          "
          class="error-message"
        >
          Tài khoản là bắt buộc.
        </div>
      </div>

      <div class="field">
        <input
          [type]="passwordType"
          pInputText
          formControlName="Password"
          class="input-field"
          placeholder="Nhập mật khẩu"
        />
        <i
          [ngClass]="
            showIcon ? 'pi pi-eye-slash input-icon' : 'pi pi-eye input-icon'
          "
          aria-hidden="true"
          (click)="onChange()"
        ></i>
        <!-- <i class="pi pi-lock input-icon"></i> -->
        <div
          *ngIf="
            loginObj.get('password')?.touched &&
            loginObj.get('password')?.invalid
          "
          class="error-message"
        >
          Mật khẩu là bắt buộc.
        </div>
      </div>

      <p-button
        label="Đăng nhập"
        [style]="{
          display: 'block',
          margin: '0 auto',
          width: '200px',
          background: '#3b3420',
          'margin-top': '35px',
          'border-color': '#3b3420'
        }"
        (click)="login()"
      ></p-button>

      <p>
        Don't have an account?
        <a routerLink="/register">Register here</a>
      </p>
    </p-card>
  </form>
</div>

<!-- <div class="dang-nhap">
  <div class="xac-thuc">
    <div class="content">
      <div class="container">
        <div class="container-left">
          <div class="container-left--background">
            <img
              class="container-left--image"
              src="https://hochieuqua7.web.app/images/login/device.png"
              alt=""
            />
          </div>
          <div class="container-left--description">
            <h2><b class="pointer">Học Hiệu Quả</b>, xin chào bạn!</h2>
            <h3>Đăng ký tài khoản ngay để học miễn phí</h3>
            <h4 class="pointer">Để trải nghiệm vui lòng click vào đây</h4>
          </div>
          <img
            class="container-left--image"
            src="https://hochieuqua7.web.app/images/login/device.png"
          />
        </div>
        <div class="container-right">
          <div class="login-wrapper">
            <div class="login-title">
              <div class="login-title--left">
                <h2>Đăng nhập</h2>
              </div>
              <div class="login-title--right">
                <span class="subtitle">Bạn chưa có tài khoản đăng nhập</span>
                <span class="register-now">Đăng ký ngay</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="area"></div>
  </div>
</div> -->
