<div class="common-content">
    <div class="grid">
        <div class="col-12">
            <div class="common-content">
                <div class="table-header grid align-items-end">
                    <div class="col-12">
                        <div class="header-title hidden-mobile">
                            Tổng quan quản trị
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tab-view">
                        <p-tabView>
                            <!-- TỔNG QUAN Tab1 -->
                            <p-tabPanel>
                                <ng-template pTemplate="header">
                                    <div class="flex align-items-center gap-2">
                                        <span>
                                            <i class="pi pi-desktop" style="font-size: 12px"></i>
                                        </span>
                                        <span class="font-bold white-space-nowrap m-0">Tổng quan</span>
                                    </div>
                                </ng-template>
                                <app-dashboard-overview></app-dashboard-overview>
                            </p-tabPanel>

                            <!-- ĐIỂM THI Tab2 -->
                            <p-tabPanel>
                                <ng-template pTemplate="header">
                                    <div class="flex align-items-center gap-2">
                                        <span>
                                            <i class="pi pi-sort-numeric-down-alt" style="font-size: 12px"></i>
                                        </span>
                                        <span class="font-bold white-space-nowrap m-0">Điểm thi</span>
                                    </div>
                                </ng-template>
                                <app-dashboard-score></app-dashboard-score>
                            </p-tabPanel>

                            <!-- KHÓA HỌC Tab3 -->
                            <p-tabPanel>
                                <ng-template pTemplate="header">
                                    <div class="flex align-items-center gap-2">
                                        <span>
                                            <i class="pi pi-th-large" style="font-size: 12px"></i>
                                        </span>
                                        <span class="font-bold white-space-nowrap m-0">Khóa học</span>
                                    </div>
                                </ng-template>
                                <app-dashboard-course></app-dashboard-course>
                            </p-tabPanel>

                            <!-- CHI TIẾT KHÓA HỌC Tab4 -->
                            <p-tabPanel>
                                <ng-template pTemplate="header">
                                    <div class="flex align-items-center gap-2">
                                        <span>
                                            <i class="pi pi-wallet" style="font-size: 12px"></i>
                                        </span>
                                        <span class="font-bold white-space-nowrap m-0">Chi tiết khóa học</span>
                                    </div>
                                </ng-template>
                                <app-dashboard-course-detail></app-dashboard-course-detail>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <div class="common-content">
                <app-dashboard-teacher></app-dashboard-teacher>
            </div>
        </div>

        <!-- TỔNG QUAN DASHBOARD -->
        <div class="col-12 sm:col-8">
            <h4>Tổng quan</h4>
        </div>
        <div class="col-12 sm:col-4 field text-right">
            <p-dropdown
                [style]="{'width':'100%', 'background':'rgba(104, 164, 251, .12)', 'border':'1px solid #d0d9ef'}"
                [options]="dateFilter" name="date" [(ngModel)]="selectedDateFilter" (onChange)="onDateFilterChange()"
                optionLabel="name" optionValue="code" [filter]="true" filterBy="name" [showClear]="true"
                placeholder="Lớp học">
            </p-dropdown>

        </div>
        <div class="col-12 sm:col-8">
            <div class="dashboard_overview">
                <p-card>
                    <div class="dashboard_overview-item">
                        <div class="dashboard_overview-item-image">
                            <img src="https://hochieuqua7.web.app/images/common/icons/blue/rating/4852528.png" alt="">
                        </div>
                        <div class="dashboard_overview-item-content">
                            <h4>Thông tin chung</h4>
                            <div>Giáo viên mới: <b>{{dashboardFilterByDate?.numNewTeachers}}</b></div>
                            <div>Học viên mới: <b>{{dashboardFilterByDate?.numNewUsers}}</b></div>
                        </div>
                    </div>
                </p-card>
                <p-card>
                    <div class="dashboard_overview-item">
                        <div class="dashboard_overview-item-image">
                            <img src="	https://hochieuqua7.web.app/images/common/icons/blue/rating/5198153.png" alt="">
                        </div>
                        <div class="dashboard_overview-item-content">
                            <h4>Khóa học</h4>
                            <div>Số lớp học: <b>{{dashboardFilterByDate?.numClassRooms}}</b></div>
                            <div>Số môn học: <b>{{dashboardFilterByDate?.numSubjects}}</b></div>
                            <div>Số khóa học: <b>{{dashboardFilterByDate?.numCourses}}</b></div>
                            <div>Số bài học: <b>{{dashboardFilterByDate?.numTests}}</b></div>
                            <div>Số câu hỏi: <b>{{dashboardFilterByDate?.numQuestions}}</b></div>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-12">
                <p-card>
                    <h4>Tổng quan câu hỏi</h4>
                    <div class="flex justify-content-center">
                        <p-chart type="polarArea" [data]="dataChart" [options]="options" class="w-full md:w-[30rem]"
                            [style]="{'max-width':'500px'}" />

                    </div>
                </p-card>
            </div>
        </div>
        <div class="col-12 sm:col-4">
            <div class="grid">
                <div class="col-12 dashboard_request">
                    <p-card>
                        <h4>Yêu cầu tư vấn</h4>
                        <p-timeline [value]="adviceRequest">
                            <ng-template pTemplate="content" let-event>
                                <div class="dashboard_item-title"><b>{{event?.name}}</b></div>
                            </ng-template>
                            <ng-template pTemplate="opposite" let-event>
                                {{ event.createdDate | date: 'dd-MM-yyyy HH:mm:ss' }}
                            </ng-template>
                        </p-timeline>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>