<div class="khoa-hoc customer-table common-content">
    <p-table [value]="questions" dataKey="id" [scrollable]="true" scrollHeight="600px"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="caption">
            <div class="grid align-items-end">
                <div class="col-12 md:col-4">
                    <p-breadcrumb class="max-w-full" [model]="breadcrumb" [home]="home" />
                    <div class="header-title hidden-mobile">Bài học</div>
                </div>
                <div class="col-12 md:col-8 text-right flex justify-content-end align-items-end">
                    <div class="mr-2 text-left search">
                        <label for="search">Tìm kiếm: </label>
                        <p-inputGroup [style.height.px]="32">
                            <input type="text" pInputText placeholder="Nhập nội dung tìm kiếm" severity="secondary"
                                [(ngModel)]="queryQuestion.filter" (ngModelChange)="onSearchChange($event)" />
                            <button type="button" pButton icon="pi pi-search" [outlined]="true" severity="secondary"
                                (click)="search()"></button>
                        </p-inputGroup>
                    </div>
                    <!-- <p-button class="mr-2" label="Bộ lọc" icon="pi pi-sliders-h" menu.toggle($event)/> -->
                    <p-button class="mr-2" label="Bộ lọc" (onClick)="op.toggle($event)" icon="pi pi-sliders-h" />
                    <p-button label="Thêm mới" icon="pi pi-plus" (click)="addNew()" />
                </div>
            </div>
        </ng-template>

        <!-- HEADER TABLE -->
        <ng-template pTemplate="header">
            <tr style="font-size: 14px;">
                <th pSortableColumn="code" style="min-width: 53px; left: 0px">
                    <p-checkbox [binary]="true" inputId="binary" />
                </th>
                <th pSortableColumn="code" style="min-width: 80px;"></th>
                <th pSortableColumn="code" style="min-width: 220px;">
                    Tên <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 80px;">
                    Xem<p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 180px;">
                    Loại câu hỏi<p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 180px;">
                    Nhóm <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 100px;">
                    Sắp xếp <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 100px;">
                    Số đếm <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 120px;">
                    Độ khó <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 150px;">
                    Công khai <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 150px;">
                    Người tạo <p-sortIcon field="code" />
                </th>
            </tr>
        </ng-template>
        
        <!-- BODY TABLE -->
        <ng-template pTemplate="body" let-test>
            <tr style="font-size: 14px;">
                <td><p-checkbox [binary]="true" inputId="binary" /></td>
                <td><p-button icon="pi pi-ellipsis-v" [text]="true" severity="secondary"
                        (onClick)="setSelected(test); menu.toggle($event)" /></td>
                <td class="text-blue-700 pointer">
                    <a [routerLink]="['/quan-tri/cau-hoi', test?.id]" style="text-decoration: none;">
                        {{ test?.name }}
                    </a>
                </td>
                <td><p-button icon="pi pi-eye" [text]="true" severity="secondary" (onClick)="openQuestion()" /></td>
                <td>{{ test?.testQuestionTypeName }}</td>
                <td>{{ test?.testQuestionGroupName }}</td>
                <td>{{ test?.order }}</td>
                <td>{{ test?.point }}</td>
                <td>{{ getNameLevel(test?.level)}}</td>
                <td>
                    <p-button [label]="getStatusLabel(test?.publicStatus)" [raised]="true"
                        [severity]="getStatus(test?.publicStatus)" [rounded]="true" />
                </td>
                <td>{{ test?.createdBy }}</td>
            </tr>
        </ng-template>
    </p-table>

    <!-- PAGINATOR -->
    <div class="flex align-items-center justify-content-start" style="
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  gap: 10px;
                ">
        <p-paginator [rows]="queryQuestion.size" [totalRecords]="totalItems"
            [first]="(queryQuestion.page - 1) * queryQuestion.size" (onPageChange)="onPageChange($event)"></p-paginator>

        <div class="flex justify-content-center align-items-center gap-3">
            <span>Từ {{ (queryQuestion.page - 1) * queryQuestion.size + 1 }} đến {{ totalItems }}</span>
        </div>
    </div>
</div>


<!-- Popup view to edit/deleted -->
<div class="card flex justify-content-center">
    <p-menu #menu [model]="items" [popup]="true" />
</div>

<!-- FORM SEARCH -->
<p-overlayPanel #op>
    <div class="flex flex-column gap-3 w-25rem">
        <div>
            <span class="font-medium text-900 block mb-2">Tìm kiếm nâng cao</span>
        </div>
        <div>
            <ul class="list-none p-0 m-0 flex flex-column gap-3">
                <li class="align-items-center ">
                    <p-dropdown [options]="testQuestionType" [(ngModel)]="selectTestQuestionType" optionValue="code"
                        (ngModelChange)="search()" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                        [style]="{'width':'100%'}" placeholder="Loại câu hỏi">
                    </p-dropdown>
                </li>

                <li class="align-items-center mt-2">
                    <p-dropdown [options]="testQuestionGroup" [(ngModel)]="selectedTestQuestionGroup"
                        (ngModelChange)="search()" optionLabel="name" optionValue="id" [filter]="true" filterBy="name"
                        [showClear]="true" [style]="{'width':'100%'}" placeholder="Nhóm câu hỏi">
                    </p-dropdown>
                </li>

                <li class="align-items-center mt-2">
                    <p-dropdown [options]="levelQuestion" [(ngModel)]="selectedLevelQuestion" (ngModelChange)="search()"
                        optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" [style]="{'width':'100%'}"
                        placeholder="Độ khó câu hỏi">
                    </p-dropdown>
                </li>

                <li class="align-items-center ">
                    <label>Hiển thị kiểm tra năng lực</label>
                    <p-dropdown [options]="publicStatus" [(ngModel)]="selectedPublicStatus" optionLabel="name"
                        [filter]="true" filterBy="name" [showClear]="true" placeholder="Trạng thái câu hỏi"
                        (ngModelChange)="search()" [style]="{'width':'100%'}"></p-dropdown>
                </li>
            </ul>
        </div>

        <div class="text-right" style="margin-top: 30px;">
            <p-button class="mr-2" label="Xuất excel" icon="pi pi-file-excel" severity="success" />
            <p-button class="mr-2" label="Làm mới" icon="pi pi-sync" severity="secondary" (onClick)="resetFilters()" />
            <p-button label="Tìm kiếm" icon="pi pi-search" (onClick)="search()" />
        </div>
    </div>
</p-overlayPanel>