<div class="khoa-hoc customer-table common-content">
    <p-table [value]="subject" dataKey="id" [scrollable]="true" scrollHeight="600px"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="caption">
            <div class="grid align-items-end">
                <div class="col-12 md:col-4">
                    <div class="header-title hidden-mobile">Môn học trong lớp</div>
                </div>
                <div class="col-12 md:col-8 text-right flex justify-content-end align-items-end">
                    <p-button icon="pi pi-file-excel" severity="success"></p-button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr style="font-size: 14px;">
                <th pSortableColumn="code" style="min-width: 53px; left: 0px">
                    <p-checkbox [binary]="true" inputId="binary" />
                </th>
                <th pSortableColumn="code" style="min-width: 80px; left: 53px;"></th>
                <th pSortableColumn="code" style="width: 150px;">
                    Hình ảnh <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 300px;">
                    Tên <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 200px;">
                    Thứ tự <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="code" style="min-width: 200px;">
                    Trạng thái <p-sortIcon field="code" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subject>
            <ng-container *ngIf="subject.length > 0; else elseBlock">
                <tr style="font-size: 14px;">
                    <td><p-checkbox [binary]="true" inputId="binary" /></td>
                    <td><p-button icon="pi pi-ellipsis-v" [text]="true" severity="secondary"
                            (onClick)="setSelectedSubject(subject); menu.toggle($event)" /></td>
                    <td>
                        <img [src]="subject?.avatar" width="50" height="50" class="shadow-4"
                            style="border-radius: 6px" />
                    </td>
                    <td class="text-blue-700 pointer">
                        <a [routerLink]="['/quan-tri/mon-hoc', subject?.id]" style="text-decoration: none;">
                            {{ subject?.name }}
                        </a>
                    </td>
                    <td> {{ subject?.order }}</td>
                    <td>
                        <p-button [label]="getStatusLabel(subject?.status)" [raised]="true"
                            [severity]="getStatus(subject?.status)" />
                    </td>
                </tr>
            </ng-container>
            <ng-template #elseBlock>
                <tr>
                    <td colspan="5">Không có dữ liệu</td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <div class="flex align-items-center justify-content-start" style="
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  gap: 10px;
                ">
        <p-paginator [rows]="size" [totalRecords]="totalItems" [first]="(page - 1) * size"
            (onPageChange)="onPageChange($event)"></p-paginator>

        <div class="flex justify-content-center align-items-center gap-3">
            <span>Từ 1 đến 10</span>
        </div>
    </div>
</div>


<!-- Popup view to edit/deleted -->
<div class="card flex justify-content-center">
    <p-menu #menu [model]="items" [popup]="true" />
</div>


<!-- Dialog delete -->
<p-dialog header="Xác nhận" [modal]="true" [(visible)]="dialogDelete" [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
        <span style="font-weight: 100; font-size: 1.5rem">Bạn có chắc chắn muốn xóa không ?</span>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Từ chối" severity="secondary" (click)="dialogDelete = false" />
        <p-button label="Đồng ý" (click)="handleDeletedSubject()" />
    </div>
</p-dialog>