.common-content {
    background: #fff;
    margin: 0 auto;
    max-width: 1600px;
    padding: 10px 20px;
}

.header-title {
    color: #646464;
    font-size: 16px;
}


label {
    font-size: 14px;
    font-weight: 400;
}