<div class="mon-hoc-chi-tiet common-content">
    <div class="detail-breadcumb">
        <div class="col-12 md:col-4">
            <p-breadcrumb class="max-w-full" [model]="breadcrum" [home]="home" />
            <div class="header-title hidden-mobile">
                {{ isEditMode ? 'Chi tiết Giáo viên' : 'Thêm Giáo viên' }}
            </div>
        </div>
    </div>

    <div>
        <div class="quan-tri-chi-tiet-mon-hoc common-content">
            <div class="grid mt-3">
                <div class="col-12 md:col-2">
                    <div class="grid mt-3">
                        <div class="col-12 avatar">
                            <img *ngIf="teacherForm.get('avatar')?.value, else elseBlock" [src]="
                    teacherForm.get('avatar')?.value || 'default-avatar.jpg'
                  " alt="" />
                            <ng-template #elseBlock>
                                <img src="https://hochieuqua7.web.app/images/admin/setting/slide/empty-image.png"
                                    alt="" />
                            </ng-template>
                            <label for="upload-image">
                                <i class="pi pi-upload"></i> Ảnh đại diện
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-10">
                    <form class="p-fluid mt-3" [formGroup]="teacherForm">
                        <div class="grid">
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-user" />
                                            
                                            <p-dropdown [options]="accountsNotTeacher"
                                                [(ngModel)]="selectedAccountsNotTeacher" optionLabel="name"
                                                [filter]="true" filterBy="name" [showClear]="true"
                                                placeholder="Select Username" (onChange)="onAccountSelect($event)"
                                                [disabled]="isEditMode">

                                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                                    <div class="flex align-items-center gap-2">
                                                        <div>{{ selectedOption.name }} - {{ selectedOption.userName }}
                                                        </div>
                                                    </div>
                                                </ng-template>
                                                <ng-template let-country pTemplate="item">
                                                    <div class="flex align-items-center gap-2">
                                                        <div>{{ country.name }} - {{ country.userName }}</div>
                                                    </div>
                                                </ng-template>
                                            </p-dropdown>
                                        </p-iconField>
                                        <label for="name">Tài khoản <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500"
                                        *ngIf="teacherForm.get('selectedAccountsNotTeacher')?.hasError('required')">Tên
                                        tài khoản là bắt
                                        buộc.</small>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                            <input pInputText class="input-field" formControlName="name" />
                                        </p-iconField>
                                        <label for="name">Họ tên <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500" *ngIf="teacherForm.get('name')?.hasError('required')">Họ
                                        và tên là bắt buộc</small>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-sort-alpha-down" />
                                            <input pInputText class="input-field" formControlName="email" />
                                        </p-iconField>
                                        <label for="name">Email <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-at" />
                                            <input pInputText class="input-field" formControlName="email" />
                                        </p-iconField>
                                        <label for="phone">Điện thoại <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500"
                                        *ngIf="teacherForm.get('phone')?.hasError('required')">Điện thoại là bắt
                                        buộc</small>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-at" />
                                            <input pInputText class="input-field" formControlName="address" />
                                        </p-iconField>
                                        <label for="address">Địa chỉ<span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-at" />
                                            <input pInputText class="input-field" formControlName="identityNo" />
                                        </p-iconField>
                                        <label for="identityNo">CMND/CCCD<span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-at" />
                                            <input pInputText class="input-field" formControlName="order" />
                                        </p-iconField>
                                        <label for="order">Sắp xếp <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-inputSwitch formControlName="status"></p-inputSwitch>
                                        <label for="status" class="manual-active">Hiển thị <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 pt-0">
                                <div class="field">
                                    <label for="" class="font-size-14">Mô tả ngắn</label>
                                    <p-editor [style]="{ height: '320px' }" formControlName="descriptionShort" />
                                </div>
                            </div>
                            <div class="col-12 pt-0">
                                <div class="field">
                                    <label for="" class="font-size-14">Mô tả chi tiết</label>
                                    <p-editor [style]="{ height: '320px' }" formControlName="description" />
                                </div>
                            </div>
                            <div class="col-12 fixed-action">
                                <p-button label="Hủy bỏ" [outlined]="true" icon="pi pi-times" (click)="goBack()" />
                                <p-button label="{{ isEditMode ? 'Cập nhật' : 'Thêm mới' }}" icon="pi pi-save"
                                    (onClick)="updateAccount()" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>