<div class="mon-hoc-chi-tiet common-content">
    <div>
        <div class="quan-tri-chi-tiet-mon-hoc common-content">
            <div class="grid mt-3">
                <div class="col-12">
                    <form class="p-fluid mt-3" [formGroup]="testForm">
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <div class="field">
                                    <p-floatLabel>
                                        <!-- Get value selected -->
                                        <!-- {{testForm.get('testCategoryId')?.value | json}} -->
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-user" />
                                            <p-dropdown [options]="testCategory" formControlName="testCategoryId"
                                                optionLabel="name" placeholder="Select a City" optionValue="id" />
                                        </p-iconField>
                                        <label for="">Loại bài kiểm tra <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500"
                                        *ngIf="testForm.get('testCategoryId')?.hasError('required')">
                                        Chọn test category đi
                                    </small>
                                </div>
                            </div>
                            <div class="col-12 md:col-9">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                            <input pInputText class="input-field" formControlName="name" />
                                        </p-iconField>
                                        <label for="name">Tiêu đề <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                    <small class="text-red-500" *ngIf="testForm.get('name')?.hasError('required')">
                                        Tên là bắt buộc
                                    </small>
                                </div>
                            </div>
                            <!-- <div class="col-12" *ngIf="selectedTestCategory?.code == 'bai-giang'"> -->
                            <div class="col-12" *ngIf="testForm.get('testCategoryId')?.value == 'bai-giang'">
                                <div class="field">
                                    <p-floatLabel>
                                        <label for="name">Nhập đường dẫn video trực tiếp <span
                                                class="text-red-500">*</span></label>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                            <input pInputText class="input-field" formControlName="lessonLink" />
                                        </p-iconField>
                                    </p-floatLabel>
                                    <small class="text-red-500"
                                        *ngIf="testForm.get('lessonLink')?.hasError('required')">
                                        Tên là bắt buộc
                                    </small>
                                </div>
                            </div>
                            <div class="col-12 flex" *ngIf="testForm.get('testCategoryId')?.value == 'livestream'">
                                <div class="col-3">
                                    <div class="avatar">
                                        <img *ngIf="testForm.get('livestreamAvatar')?.value, else elseBlock" [src]="
                                                            testForm.get('livestreamAvatar')?.value || 'default-avatar.jpg'
                                                          " alt="" />
                                        <ng-template #elseBlock>
                                            <img src="https://hochieuqua7.web.app/images/admin/setting/slide/empty-image.png"
                                                alt="" />
                                        </ng-template>
                                        <label for="upload-image">
                                            <i class="pi -pi-upload"></i> Ảnh livestream
                                        </label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="grid">
                                        <div class="col-6">
                                            <div class="field">
                                                <p-floatLabel>
                                                    <p-iconField iconPosition="right">
                                                        <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                                        <input pInputText class="input-field"
                                                            formControlName="livestreamLink" />
                                                    </p-iconField>
                                                    <label for="name">Đường dẫn livestream <span
                                                            class="text-red-500">*</span></label>
                                                </p-floatLabel>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="field">
                                                <p-floatLabel>
                                                    <p-iconField iconPosition="right">
                                                        <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                                        <input pInputText class="input-field"
                                                            formControlName="livestreamTeacher" />
                                                    </p-iconField>
                                                    <label for="name">Tên giáo viên livestream <span
                                                            class="text-red-500">*</span></label>
                                                </p-floatLabel>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="field">
                                                <p-floatLabel>
                                                    <p-iconField iconPosition="right">
                                                        <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                                        <input pInputText class="input-field"
                                                            formControlName="livestreamCode" />
                                                    </p-iconField>
                                                    <label for="name">Mã livestream <span
                                                            class="text-red-500">*</span></label>
                                                </p-floatLabel>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="field">
                                                <p-floatLabel>
                                                    <p-iconField iconPosition="right">
                                                        <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                                        <input pInputText class="input-field"
                                                            formControlName="livestreamGroup" />
                                                    </p-iconField>
                                                    <label for="name">Nhóm livestream <span
                                                            class="text-red-500">*</span></label>
                                                </p-floatLabel>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="field">
                                                <p-floatLabel>
                                                    <p-iconField iconPosition="right">
                                                        <p-inputIcon styleClass="pi pi-ellipsis-h" />
                                                        <p-calendar formControlName="livestreamDate"
                                                            [iconDisplay]="'input'" [showIcon]="true"
                                                            inputId="icondisplay" [showTime]="true" [hourFormat]="'24'">
                                                        </p-calendar>
                                                    </p-iconField>
                                                    <label for="name">Ngày livestream <span
                                                            class="text-red-500">*</span></label>
                                                </p-floatLabel>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 ">
                                <div class="field">
                                    <label for="description" class="font-size-14">Thông tin</label>
                                    <p-editor [style]="{ height: '320px' }" formControlName="description" />
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field">
                                    <p-floatLabel>
                                        <input pInputText class="input-field" formControlName="order" />
                                        <label for="order" class="manual-active">Thứ tự <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3"
                                *ngIf="testForm.get('testCategoryId')?.value == 'bai-giang' || testForm.get('testCategoryId')?.value == 'livestream' || testForm.get('testCategoryId')?.value == 'offline' || testForm.get('testCategoryId')?.value == 'kiem-tra'">
                                <div class=" field">
                                    <p-floatLabel>
                                        <input pInputText class="input-field" formControlName="time" />
                                        <label for="time" class="manual-active">Thời gian (phút) <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3"
                                *ngIf="testForm.get('testCategoryId')?.value == 'kiem-tra' || testForm.get('testCategoryId')?.value == 'bai-tap'">
                                <div class="field">
                                    <p-floatLabel>
                                        <input pInputText class="input-field" formControlName="totalPointPass" />
                                        <label for="totalPointPass" class="manual-active">Số điểm qua bài kiểm tra <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3"
                                *ngIf="testForm.get('testCategoryId')?.value == 'kiem-tra' || testForm.get('testCategoryId')?.value == 'bai-tap'">
                                <div class="field">
                                    <p-floatLabel>
                                        <input pInputText class="input-field" formControlName="numberOfTest" />
                                        <label for="numberOfTest" class="manual-active">Số lần được kiểm tra <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3"
                                *ngIf="testForm.get('testCategoryId')?.value == 'kiem-tra' || testForm.get('testCategoryId')?.value == 'bai-tap'">
                                <div class="field">
                                    <p-floatLabel>
                                        <input pInputText class="input-field" formControlName="deadlineDate" />
                                        <label for="deadlineDate" class="manual-active">Hạn nộp bài <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3"
                                *ngIf="testForm.get('testCategoryId')?.value == 'kiem-tra' || testForm.get('testCategoryId')?.value == 'bai-tap'">
                                <div class="field">
                                    <p-floatLabel>
                                        <input pInputText class="input-field" formControlName="lessonLink" />
                                        <label for="lessonLink" class="manual-active">Liên kết bài học <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3" *ngIf="testForm.get('testCategoryId')?.value == 'kiem-tra'">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-inputSwitch formControlName="isShowInAbilityTest"></p-inputSwitch>
                                        <label for="isShowInAbilityTest" class="manual-active">Hiển thị ở kiểm tra năng
                                            lực <span class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3" *ngIf="testForm.get('testCategoryId')?.value == 'kiem-tra'">
                                <div class="field">
                                    <p-floatLabel>
                                        <p-inputSwitch formControlName="isAutoSendMail"></p-inputSwitch>
                                        <label for="isAutoSendMail" class="manual-active">Gửi mail nộp bài <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3"
                                *ngIf="testForm.get('testCategoryId')?.value == 'bai-giang' || testForm.get('testCategoryId')?.value == 'kiem-tra' || testForm.get('testCategoryId')?.value == 'bai-tap' || testForm.get('testCategoryId')?.value == 'livestream' || testForm.get('testCategoryId')?.value == 'offline'">
                                <div class=" field">
                                    <p-floatLabel>
                                        <p-inputSwitch formControlName="status"></p-inputSwitch>
                                        <label for="status" class="manual-active">Trạng thái <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3"
                                *ngIf="testForm.get('testCategoryId')?.value == 'bai-giang' || testForm.get('testCategoryId')?.value == 'kiem-tra' || testForm.get('testCategoryId')?.value == 'bai-tap' || testForm.get('testCategoryId')?.value == 'livestream'">
                                <div class=" field">
                                    <p-floatLabel>
                                        <p-inputSwitch formControlName="isFree"></p-inputSwitch>
                                        <label for="isFree" class="manual-active">Miễn phí <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="col-12 md:col-3"
                                *ngIf="testForm.get('testCategoryId')?.value == 'bai-giang' || testForm.get('testCategoryId')?.value == 'kiem-tra' || testForm.get('testCategoryId')?.value == 'bai-tap' || testForm.get('testCategoryId')?.value == 'livestream'">
                                >
                                <div class=" field">
                                    <p-floatLabel>
                                        <p-inputSwitch formControlName="isSpecial"></p-inputSwitch>
                                        <label for="isSpecial" class="manual-active">Kiểm tra đặc biệt <span
                                                class="text-red-500">*</span></label>
                                    </p-floatLabel>
                                </div>
                            </div>
                            <div class="grid mt-2">
                                <div class="col-12 fixed-action">
                                    <div class="col-9 flex justify-content-start">
                                        <p-button class="mr-2" label="Xem trước" [outlined]="true" icon="pi pi-times" />
                                        <p-button class="mr-2" label="Hủy bỏ" (click)="back()" [outlined]="true"
                                            icon="pi pi-times" />
                                        <p-button class="mr-2" label="{{ isEditMode ? 'Cập nhật' : 'Thêm mới' }}"
                                            icon="pi pi-save" (click)="updateSubject()" />
                                    </div>
                                    <div class="col-3 flex justify-content-end">
                                        <span>Tổng điểm: <b>{{ 0 }}</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>