<div class="mon-hoc-chi-tiet common-content">
  <div class="detail-breadcumb">
    <p-breadcrumb class="max-w-full" [model]="menuBreachCrumbs" [home]="home" />
  </div>
  <div class="tab-view">
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <span>
              <i class="pi pi-map-marker" style="font-size: 12px"></i>
            </span>
            <span class="font-bold white-space-nowrap m-0">Thông tin</span>
          </div>
        </ng-template>
        <app-information></app-information>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <span>
              <i class="pi pi-list" style="font-size: 12px"></i>
            </span>
            <span class="font-bold white-space-nowrap m-0">Chương trình học</span>
          </div>
        </ng-template>
        <app-chuong-trinh-hoc></app-chuong-trinh-hoc>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <span>
              <i class="pi pi-sort-numeric-down-alt" style="font-size: 12px"></i>
            </span>
            <span class="font-bold white-space-nowrap m-0">Điểm</span>
          </div>
        </ng-template>
        <app-scores></app-scores>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <span>
              <i class="pi pi-star" style="font-size: 12px"></i>
            </span>
            <span class="font-bold white-space-nowrap m-0">Đánh giá</span>
          </div>
        </ng-template>
        <app-feedback></app-feedback>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>