.common-content {
  background: #fff;
  margin: 0 auto;
  max-width: 1600px;
  padding: 10px 20px;
}

.detail-breadcumb {
  margin-bottom: 14px;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.avatar {
  border-radius: 10px;
  box-shadow: 0 0 3px #b4b4b4;
  overflow: hidden;
  padding: 5px;
}

.field {
  margin-bottom: 18px !important;
}

label {
  font-size: 13px;
  color: #000;
  left: 0;
  top: -0.65rem;
}

.text-red-500 {
  color: #ef0000;
}

.avatar label {
  background: #0a3b85;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.avatar img {
  width: 100%;
}

.fixed-action {
  background: #fff;
  bottom: 0;
  margin: 0 !important;
  max-width: 1600px !important;
  padding: 10px !important;
  position: fixed;
  right: 50%;
  text-align: right;
  transform: translatex(50%) !important;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.manual-active {
  font-size: 13px !important;
  left: 0 !important;
  top: -0.65rem;
}
