<div class="mon-hoc-chi-tiet common-content">
  <div class="detail-breadcumb">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
  </div>
  <p-tabView>
    <p-tabPanel header="Header I">
      <p>Lorem ipsum dolor sit amet...</p>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Header III">
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
  </p-tabView>

  <div>
    <div class="quan-tri-chi-tiet-mon-hoc common-content">
      <div class="grid mt-3">
        <div class="col-12 md:col-2">
          <div class="grid mt-3">
            <div class="col-12 avatar">
              <img
                src="https://hhq.runasp.net/images/638212960568580924_Picture4.jpg"
                alt=""
              />
              <label for="upload-image">
                <i class="pi pi-upload"></i> Avatar
              </label>
            </div>
            <div class="col-12 avatar mt-2">
              <img
                src="https://hhq.runasp.net/images/638674307608004689_NuvfKwh.jpeg"
                alt=""
              />
              <label for="upload-image2">
                <i class="pi pi-upload"></i> Banner
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-10">
          <form action="" class="p-fluid mt-3">
            <div class="grid">
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-floatLabel>
                    <p-iconField iconPosition="right">
                      <p-inputIcon styleClass="pi pi-spinner pi-spin" />
                      <input id="username" type="text" pInputText />
                    </p-iconField>
                    <label for="username"
                      >Username <span class="text-red-500">*</span></label
                    >
                  </p-floatLabel>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-floatLabel>
                    <p-dropdown
                      [options]="cities"
                      optionLabel="name"
                      placeholder="Select a City"
                    ></p-dropdown>
                    <label for="username"
                      >Lớp học <span class="text-red-500">*</span></label
                    >
                  </p-floatLabel>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-floatLabel>
                    <p-dropdown
                      [options]="cities"
                      optionLabel="name"
                      placeholder="Select a City"
                    ></p-dropdown>
                    <label for="username"
                      >Lớp học <span class="text-red-500">*</span></label
                    >
                  </p-floatLabel>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-floatLabel>
                    <p-dropdown
                      [options]="cities"
                      optionLabel="name"
                      placeholder="Select a City"
                    ></p-dropdown>
                    <label for="username"
                      >Lớp học <span class="text-red-500">*</span></label
                    >
                  </p-floatLabel>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-floatLabel>
                    <p-iconField iconPosition="right">
                      <p-inputIcon styleClass="pi pi-spinner pi-spin" />
                      <input id="username" type="text" pInputText />
                    </p-iconField>
                    <label for="username"
                      >Username <span class="text-red-500">*</span></label
                    >
                  </p-floatLabel>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-floatLabel>
                    <p-iconField iconPosition="right">
                      <p-inputIcon styleClass="pi pi-spinner pi-spin" />
                      <input id="username" type="text" pInputText />
                    </p-iconField>
                    <label for="username"
                      >Username <span class="text-red-500">*</span></label
                    >
                  </p-floatLabel>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-floatLabel>
                    <p-iconField iconPosition="right">
                      <p-inputIcon styleClass="pi pi-spinner pi-spin" />
                      <input id="username" type="text" pInputText />
                    </p-iconField>
                    <label for="username"
                      >Username <span class="text-red-500">*</span></label
                    >
                  </p-floatLabel>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-inputSwitch></p-inputSwitch>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <div class="field">
                  <p-inputSwitch></p-inputSwitch>
                </div>
              </div>
              <div class="col-12 pt-0 pb-0">
                <div class="field">
                  <p-floatLabel>
                    <p-dropdown
                      [options]="cities"
                      optionLabel="name"
                      placeholder="Select a City"
                    ></p-dropdown>
                    <label for="username"
                      >Lớp học <span class="text-red-500">*</span></label
                    >
                  </p-floatLabel>
                </div>
              </div>
              <div class="col-12 pt-0">
                <div class="field">
                  <label for="" class="font-size-14">Thông tin khóa học</label>
                  <p-editor [style]="{ height: '320px' }" />
                </div>
              </div>
              <div class="col-12 pt-0">
                <div class="field">
                  <label for="" class="font-size-14"
                    >Thông tin thêm khóa học</label
                  >
                  <p-editor [style]="{ height: '320px' }" />
                </div>
              </div>
              <div class="col-12 pt-0">
                <div class="field">
                  <label for="" class="font-size-14">Thông tin giáo viên</label>
                  <p-editor [style]="{ height: '320px' }" />
                </div>
              </div>
              <div class="col-12 fixed-action">
                <p-button label="Hủy bỏ" [outlined]="true" icon="pi pi-times" />
                <p-button label="Lưu lại" icon="pi pi-save" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
