.chuong-trinh-chi-tiet .question-item {
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #b9b9b9;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 5px;
}

.question-header {
    background: #eee;
    font-weight: 600;
    padding: 15px 20px;
}

.chương-trinh-chi-tiet .answer-item {
    padding: 5px;
}

.answer-item--content {
    border: 1px dashed #e2e1e1;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-left: 16px;
}

.matching_answer {
    background: #e3e7f2;
    border: 1px solid rgba(134, 161, 214, .7);
    border-radius: 5px;
    min-height: 40px;
    padding: 8px;
}

.answer-value--input {
    background: #e3e7f2;
    border: 1px solid #d0d9ef;
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
    height: 35px;
    outline: none;
    padding-left: 10px;
    width: 100%;
}