<div>
    <div class="table-header grid align-items-end">
        <div class="col-12 md:col-6">
            <div class="header-title hidden-mobile">
                Tổng quan giáo viên
            </div>
        </div>
        <div class="col-12 md:col-6 text-right flex justify-content-end align-items-end">
            <p-button label="Xuất Excel" icon="pi pi-file-excel" severity="success" />
        </div>
    </div>
    <div class="card">
        <p-table [value]="products" [scrollable]="true" scrollHeight="699px">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 53px; left: 0;"></th>
                    <th style="width: 18px; left: 54px;">Tên học sinh</th>
                    <th style="width: 18px; left: 54px;">Angular 100 Day</th>
                    <th style="width: 18px; left: 54px;">Angular JS</th>
                    <th style="width: 18px; left: 54px;">Dũng test</th>
                    <th style="width: 18px; left: 54px;">Học Angular 15</th>
                    <th style="width: 18px; left: 54px;">Học Node Express</th>
                    <th style="width: 18px; left: 54px;">Khóa học Angular 4</th>
                    <th style="width: 18px; left: 54px;">Làm dự án với ASP.NET Core MVC</th>
                    <th style="width: 18px; left: 54px;">Lập trình Blazor căn bản</th>
                    <th style="width: 18px; left: 54px;">Luyện thi xe máy</th>
                    <th style="width: 18px; left: 54px;">React Hook cơ bản</th>
                    <th style="width: 18px; left: 54px;">React Query</th>
                    <th style="width: 18px; left: 54px;">Redux Saga</th>
                    <th style="width: 18px; left: 54px;">Redux Toolkit</th>
                    <th style="width: 18px; left: 54px;">Rest API với NodeJS Express & MongoDB</th>
                    <th style="width: 18px; left: 54px;">Test Khóa học</th>
                    <th style="width: 18px; left: 54px;">Test EST 2022</th>
                    <th style="width: 18px; left: 54px;">Toeic Part 5</th>
                    <th style="width: 18px; left: 54px;">Unlocking B1 with English Language Pathfinders</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                    </td>
                    <td>{{customer?.id}}</td>
                    <td>{{customer?.name}}</td>
                    <td>{{customer?.country?.name}}</td>
                    <td>{{customer?.date}}</td>
                    <td>{{(customer?.balance)}}</td>
                    <td>{{customer?.company}}</td>
                    <td>{{customer?.status}}</td>
                    <td>{{customer?.activity}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                    <td>{{customer?.representative?.name}}</td>
                </tr>
            </ng-template>
            <!-- Template hiển thị khi không có dữ liệu -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">Không có bản ghi nào</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>