.header-title {
    color: #041c47;
    font-size: 18px;
    font-weight: bolder;
    padding: 5px 0;
    position: relative;
    width: fit-content;
}

.header-title:after {
    background-color: #0a3b85;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    min-width: 60px;
    position: absolute;
    transform: translateY(0);
}