/* menu.component.css */
.custom-menubar {
  color: white;
  font-size: 1rem;
}

.custom-menubar .p-menuitem-text {
  color: white !important;
}

.custom-menubar .p-menuitem-icon {
  color: white !important;
}

.custom-menubar .p-menuitem-link {
  color: white; /* Đổi màu chữ thành trắng */
}

.custom-menubar .p-menuitem-link .pi {
  color: white; /* Đổi màu icon thành trắng */
}

.custom-menubar .p-menuitem-link:hover {
  color: white; /* Đổi màu chữ thành trắng khi hover */
}

.custom-menubar .p-menuitem-link:hover .pi {
  color: white; /* Đổi màu icon thành trắng khi hover */
}
