<p-menubar
  [model]="menu"
  class="custom-menubar"
  [style]="{ height: '100%', 'background-color': '#0161f1' }"
>
  <ng-template pTemplate="item" let-item>
    <!-- Điều hướng với routerLink nếu có route -->
    <a [routerLink]="item.routerLink" class="p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.name }}</span>
    </a>
  </ng-template>
</p-menubar>

<p-menubar
  [model]="menuAdmin"
  class="custom-menubar"
  [style]="{ height: '100%', 'background-color': '#0161f1' }"
>
  <ng-template pTemplate="item" let-item>
    <ng-container *ngIf="!item.items; else dropdown">
      <a [routerLink]="'/' + item.routerLink" class="p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.name }}</span>
      </a>
    </ng-container>

    <ng-template #dropdown>
      <!-- Dropdown hiển thị submenu -->
      <span class="p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.name }}</span>
        <p-menubar [model]="item.items"></p-menubar>
      </span>
    </ng-template>
  </ng-template>
</p-menubar>
