<div>
  <div class="quan-tri-chi-tiet-mon-hoc common-content">
    <div class="grid mt-3">
      <div class="col-12 md:col-2">
        <div class="grid mt-3">
          <div class="col-12 avatar">
            <img
              [src]="
                courseForm.get('courseAvatar')?.value || 'default-avatar.jpg'
              "
              alt=""
            />
            <label for="upload-image">
              <i class="pi pi-upload"></i> Avatar
            </label>
          </div>
          <div class="col-12 avatar mt-2">
            <img
              [src]="
                courseForm.get('courseBanner')?.value || 'default-avatar.jpg'
              "
              alt=""
            />
            <label for="upload-image2">
              <i class="pi pi-upload"></i> Banner
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-10">
        <form class="p-fluid mt-3" [formGroup]="courseForm">
          <div class="grid">
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-iconField iconPosition="right">
                    <p-inputIcon styleClass="pi pi-at" />
                    <input
                      pInputText
                      formControlName="name"
                      class="input-field"
                    />
                  </p-iconField>
                  <label for="name"
                    >Tên khóa học <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-dropdown
                    [options]="classRoom"
                    optionLabel="name"
                    formControlName="classRoom"
                    placeholder="Select a Classroom"
                  ></p-dropdown>
                  <label for=""
                    >Lớp học <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-dropdown
                    [options]="subject"
                    optionLabel="name"
                    formControlName="subject"
                    placeholder="Select a Subject"
                  ></p-dropdown>
                  <label for=""
                    >Môn học <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-dropdown
                    [options]="courseYears"
                    optionLabel="name"
                    formControlName="courseYears"
                    placeholder="Select a Course Year"
                  ></p-dropdown>
                  <label for=""
                    >Năm học <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-iconField iconPosition="right">
                    <p-inputIcon styleClass="pi pi-shopping-cart" />
                    <input
                      pInputText
                      formControlName="price"
                      class="input-field"
                    />
                  </p-iconField>
                  <label for="price"
                    >Giá <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-iconField iconPosition="right">
                    <p-inputIcon styleClass="pi pi-money-bill" />
                    <input
                      pInputText
                      formControlName="priceDiscount"
                      class="input-field"
                    />
                  </p-iconField>
                  <label for="priceDiscount"
                    >Giá giảm <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-iconField iconPosition="right">
                    <p-inputIcon styleClass="pi pi-at" />
                    <input
                      id="promotionTime"
                      type="text"
                      pInputText
                      formControlName="promotionTime"
                      placeholder="Khuyến mãi đến"
                    />
                  </p-iconField>
                  <label for="promotionTime"
                    >Khuyến mãi đến<span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-inputSwitch formControlName="status"></p-inputSwitch>
                  <label for="content" class="manual-active"
                    >Hiển thị <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="field">
                <p-floatLabel>
                  <p-inputSwitch formControlName="isShowHome"></p-inputSwitch>
                  <label for="content" class="manual-active"
                    >Hiển thị trang chủ
                    <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 pt-0 pb-0">
              <div class="field">
                <p-floatLabel>
                  <!-- <p-dropdown
                    [options]="teacher"
                    optionLabel="name"
                    placeholder="Select teacher"
                    formControlName="teacher"
                  ></p-dropdown> -->
                  <p-multiSelect
                    [options]="teacher"
                    formControlName="teacher"
                    placeholder="Giáo viên"
                    optionLabel="name"
                    display="chip"
                    [showClear]="true"
                  ></p-multiSelect>
                  <div>
                    <p>
                      Selected Teachers:
                      {{ courseForm.get('teacher')?.value | json }}
                    </p>
                    <!-- Hiển thị danh sách giáo viên đã chọn -->
                  </div>
                  <label for="username"
                    >Giáo viên <span class="text-red-500">*</span></label
                  >
                </p-floatLabel>
              </div>
            </div>
            <div class="col-12 pt-0">
              <div class="field">
                <label for="" class="font-size-14">Thông tin khóa học</label>
                <p-editor
                  [style]="{ height: '320px' }"
                  formControlName="shortSummary"
                />
              </div>
            </div>
            <div class="col-12 pt-0">
              <div class="field">
                <label for="" class="font-size-14"
                  >Thông tin thêm khóa học</label
                >
                <p-editor
                  [style]="{ height: '320px' }"
                  formControlName="courseInfo1"
                />
              </div>
            </div>
            <div class="col-12 pt-0">
              <div class="field">
                <label for="" class="font-size-14">Thông tin giáo viên</label>
                <p-editor [style]="{ height: '320px' }" />
              </div>
            </div>
            <div class="col-12 fixed-action">
              <p-button label="Hủy bỏ" [outlined]="true" icon="pi pi-times" />
              <p-button label="Lưu lại" icon="pi pi-save" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
