/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';
@import 'ngx-toastr/toastr';

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: white !important;
  font-weight: 500;
  background: none;
}

.p-toolbar.p-component {
  border: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  background: none;
}

.pi-home:before,
.pi-users:before,
.pi-comments:before,
.pi-money-bill:before,
.pi-question-circle:before,
.pi-book:before,
.pi-cog:before {
  color: white;
}

* {
  font-family: Quicksand, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.swiper-button-next {
  background-color: #d8d8d8;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
  height: 44px;
  width: 44px;
}

.swiper-button-prev {
  background-color: #d8d8d8;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
  height: 44px;
  width: 44px;
}

.p-datatable-header.ng-star-inserted {
  background: #fff;
  border: none;
  padding: 0;
}

nav.p-breadcrumb.p-component {
  background: transparent;
  border: none !important;
  padding: 0.3rem 0 !important;
  font-size: 12px;
}

a#pn_id_1_header_action {
  background: transparent;
  border: none;
  border-bottom: 2px solid #0a3b85;
  font-size: 14px;
}

button.p-ripple.p-element.p-button.p-component.p-button-outlined {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}

button.p-ripple.p-element.p-button.p-component {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}

svg.p-icon {
  width: 10px;
}

.field input {
  background: #e3e7f2;
  border: 1px solid #d0d9ef;
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.field span.p-element.p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted {
  background: none;
  border: none;
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: 0.8rem;
}

.tab-view ul.p-tabview-nav {
  border: none;
}

.tab-view li.ng-star-inserted {
  border: 1px solid #e5e7eb;
  border-width: 0 0 2px 0;
}

.field .p-element.p-multiselect-label-container {
  background: none;
  border: none;
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.ng-trigger.ng-trigger-panelState.ng-tns-c4029148367-7.p-sidebar.p-sidebar-active.p-sidebar-right.ng-star-inserted {
  width: 1000px;
}

div#pn_id_5,
div#pn_id_7,
div#pn_id_9 {
  width: 100%;
}


ul.p-tabview-nav {
  background: transparent;
  border: solid #dee2e6;
  border-width: 0 0 1px;
}

span.ml-2 {
  color: #fffffff5;
  font-size: 16px;
  font-weight: 500;
}