/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';
@import 'ngx-toastr/toastr';

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: white !important;
  font-weight: 500;
  background: none;
}

.p-toolbar.p-component {
  border: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  background: none;
}

.p-menubar.p-component {
  height: 100%;
  background: transparent;
  border: none;
  border-radius: 3px;
  color: #495057;
  margin: 0 auto;
  max-width: 1600px;
  padding: .3rem;
}

a.p-menuitem-link.ng-star-inserted {
  color: #fffffff5;
  font-size: 16px;
  font-weight: 500;
}

a.p-menuitem-link.ng-star-inserted:hover {
  box-shadow: none;
  background-color: rgba(37, 132, 234, 0.5);
  outline: 0 none;
  outline-offset: 0;
}

span.p-menuitem-link.ng-star-inserted {
  color: #fffffff5;
  font-size: 16px;
  font-weight: 500;
}

span.p-menuitem-link.ng-star-inserted:hover {
  box-shadow: none;
  background-color: rgba(37, 132, 234, 0.5);
  outline: 0 none;
  outline-offset: 0;
}

ul.p-submenu-list {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: none;
  padding: .5rem 0;
  width: 12.5rem;
}

span.ml-2 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

span.ml-2:hover {
  background: #e9ecef;
}

* {
  font-family: Quicksand, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.swiper-button-next {
  background-color: #d8d8d8;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
  height: 44px;
  width: 44px;
}

.swiper-button-prev {
  background-color: #d8d8d8;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
  height: 44px;
  width: 44px;
}

.p-datatable-header.ng-star-inserted {
  background: #fff;
  border: none;
  padding: 0;
}

nav.p-breadcrumb.p-component {
  background: transparent;
  border: none !important;
  padding: 0.3rem 0 !important;
  font-size: 12px;
}

a#pn_id_1_header_action {
  background: transparent;
  border: none;
  border-bottom: 2px solid #0a3b85;
  font-size: 14px;
}

button.p-ripple.p-element.p-button.p-component.p-button-outlined {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}

button.p-ripple.p-element.p-button.p-component {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}

svg.p-icon {
  width: 10px;
}

.field input {
  background: #e3e7f2;
  border: 1px solid #d0d9ef;
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.field span.p-element.p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted {
  background: none;
  border: none;
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: 0.8rem;
}

.tab-view ul.p-tabview-nav {
  border: none;
}

.tab-view li.ng-star-inserted {
  border: 1px solid #e5e7eb;
  border-width: 0 0 2px 0;
}

.field .p-element.p-multiselect-label-container {
  background: none;
  border: none;
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.ng-trigger.ng-trigger-panelState.ng-tns-c4029148367-7.p-sidebar.p-sidebar-active.p-sidebar-right.ng-star-inserted {
  width: 1000px;
}

ul.p-tabview-nav {
  background: transparent;
  border: solid #dee2e6;
  border-width: 0 0 1px;
}

span.ml-2 {
  color: #fffffff5;
  font-size: 16px;
  font-weight: 500;
}

.p-dialog-header.ng-tns-c1946505645-3.ng-star-inserted {
  background: #ffffffec;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  text-align: center !important;
}


/* ========= TABLE LIST ========= */
.common-content {
  background: #fff;
  margin: 0 auto;
  max-width: 1600px;
  padding: 10px 20px;
}

.p-breadcrumb {
  font-size: 12px;
}

.header-title {
  color: #041c47;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px 0;
  position: relative;
  width: fit-content;
}

.header-title::after {
  background-color: #0a3b85;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  min-width: 60px;
  position: absolute;
  transform: translateY(0);
}

label {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  left: 0;
  top: -0.65rem;
}

/* ========= TABLE DETAIL ========= */
.text-red-500 {
  color: #ef0000;
}

.p-tabview-panels {
  padding: 0;
}

.detail-breadcumb {
  margin-bottom: 14px;
}

.manual-active {
  font-size: 13px !important;
  left: 0 !important;
  top: -0.65rem;
}

.avatar {
  border-radius: 10px;
  box-shadow: 0 0 3px #b4b4b4;
  overflow: hidden;
  padding: 5px;
}

.avatar label {
  background: #0a3b85;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.avatar img {
  width: 100%;
}

.fixed-action {
  background: #fff;
  bottom: 0;
  margin: 0 !important;
  max-width: 1600px !important;
  padding: 10px !important;
  position: fixed;
  right: 50%;
  text-align: right;
  transform: translatex(50%) !important;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.button-continous {
  background-color: #0a3b85;
  border: none;
  border-radius: 9px;
  box-shadow: inset 0 -4.5px 0 0 rgba(61, 61, 61, 0.486);
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  height: 45px;
  margin-right: 2px;
  min-width: 150px;
  padding: 0 5px 5px;
  text-align: center;
  text-shadow: 0 2px 1px #494949;
}

.field {
  margin-bottom: 18px;
}

textarea {
  height: 53px;
  overflow: hidden;
  padding-right: 100%;
  width: 100%;
  background: rgba(104, 164, 251, .12);
  border: 1px solid #e3e7f2;
  font-size: 14px;
  border-radius: 4px;
}

.font-size-13 {
  font-size: 13px;
}

.p-dialog {
  background: transparent;
  border-radius: 15px;
  overflow: hidden;
}

/* tr.ng-star-inserted {
  background: #ecebeb !important;
} */

.p-datatable-wrapper .p-datatable-tbody>tr.ng-star-inserted {
  /* background: #e3e7f2 !important; */
}