<div class="common-content">
    <div class="grid">
        <div class="col-12">
            <div class="common-content">
                <div class="table-header grid align-items-end">
                    <div class="col-12">
                        <div class="header-title hidden-mobile">
                            Tổng quan quản trị
                        </div>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
            <div class="common-content"></div>
        </div>
        <div class="col-12 sm:col-8"></div>
        <div class="col-12 sm:col-4 field text-right"></div>
        <div class="col-12 sm:col-8"></div>
        <div class="col-12 sm:col-4"></div>
    </div>
</div>