.common-content {
    background: #fff;
    margin: 0 auto;
    max-width: 1600px;
    padding: 10px 20px;
}

.header-title {
    color: #041c47;
    font-size: 18px;
    font-weight: bolder;
    padding: 5px 0;
    position: relative;
    width: fit-content;
}

.header-title:after {
    background-color: #0a3b85;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    min-width: 60px;
    position: absolute;
    transform: translateY(0);
}

.giup-so-content {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 35% 65%;
}

.giup-do-menu {
    width: 100%;
}

.giup-do-menu-item {
    word-wrap: break-word;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;
}

.giup-do-menu .giup-do-menu-item.active {
    font-weight: 600;
    background: rgba(30, 143, 255, .123);
}

.giup-do-noi-dung {
    overflow: hidden;
    width: 100%;
}